/* DESKTOP FIRST APPROACH */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px;
}

.main-nav {
  background-color: #042d5b;
  color: #fff;
  padding: 15px;
  margin: 0px;
  text-align: center;
  border-top: solid 4px #2096cd;
  border-bottom: solid 4px #2096cd;
}

.main-nav ul {
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.main-nav ul li:hover {
  color: #2096cd;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-nav ul li a:hover {
  color: #2096cd;
}

.logo {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0px;
}

.logo h2 {
  padding: 0;
  margin: 0;
}

.hamburger {
  display: none;
  color: #042d5b;
}

.dark-blue-text {
  color: #042d5b;
}

.car-section {
  padding-bottom: 40px;
  background-color: #fff;
  text-align: center;
  border-bottom: solid 4px #2096cd;
}

.slick-slide {
  height: 800px;
  position: relative;
}

.carousel img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 18px);
  transform: translateY(-50%);
  left: 60px;
  z-index: 99;
  color: white;
  font-size: 60px;
}

.slick-next {
  left: auto;
  right: 60px;
}

.slick-arrow:hover {
  color: #2096cd;
}

.slick-dots {
  padding: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  background-color: #2096cd;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  border-radius: 50%;
}

.slick-dots button {
  display: none;
}

.slick-dots .slick-active {
  background-color: #042d5b;
}

.search-button a {
  text-decoration: none;
  color: #fff;
}

.search-button a:hover {
  color: #042d5b;
}

.feedback-header {
  display: grid;
  grid-template-columns: auto 200px;
}

.feedback {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
}

button {
  font-weight: 800;
  background-color: #042d5b;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  transition: transform 0.4s, box-shadow 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #042d5b;
  transform: translateY(-8px);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}

.feedback-section {
  color: #042d5b;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 4px #2096cd;
  border-bottom: solid 4px #2096cd;
}

.hero-image {
  background: url(../images/48\ hour\ promise.jpeg) no-repeat 100% 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-size: cover;
}

.hero-image h3 {
  font-size: 60px;
  color: #fff;
  text-align: end;
  padding-right: 100px;
}

.info-box {
  text-align: center;
}

.content-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #042d5b;
  color: #fff;
}

.left-inner-footer {
  text-align: center;
  padding: 10px;
}

.middle-inner-footer {
  align-items: center;
  text-align: center;
  padding: 10px;
}

.right-inner-footer {
  padding: 10px;
}

.social-nav ul li {
  font-size: 40px;
}

.sub-footer {
  border-top: solid 4px #2096cd;
  background-color: #042d5b;
  padding: 0px;
  color: #fff;
}

.social-nav {
  color: #fff;
  padding: 15px;
  margin: 0px;
  text-align: center;
  border-top: solid 4px #2096cd;
  border-bottom: solid 4px #2096cd;
}

.social-nav ul {
  padding: 0;
  margin: 0;
}

.social-nav ul li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.social-nav ul li:hover {
  color: #2096cd;
}

.social-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* buy used CSS */
.back-button {
  color: #042d5b;
  padding-left: 120px;
  display: flex;
  align-items: center;
}

.back-button i {
  padding-right: 5px;
}

.back-button a {
  color: #042d5b;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-container > .car-card {
  background-color: #f1f1f1;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}

.card-image {
  padding-top: 60%;
}

.car-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* buy now CSS */

.flex {
  display: flex;
}

.car {
  flex: 60%;
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}

.car-image {
  padding-top: 45%;
}

.car ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.car-finance {
  color: #042d5b;
  flex: 40%;
  text-align: center;
  align-items: center;
}

.car-finance input,
select,
button {
  display: block;
  margin: 20px auto;
}

.finance-title {
  border-bottom: 2px solid #2096cd;
}

.buy-now {
  display: none;
}

/* 720p monitor */
@media (max-width: 1280px) {
  .slick-slide {
    height: 460px;
    position: relative;
  }
  .slick-arrow {
    font-size: 50px;
  }
  .hero-image {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .hero-image h3 {
    font-size: 45px;
    padding-right: 80px;
  }
}

/* Ipad Pro */
@media (max-width: 1024px) {
  .slick-slide {
    height: 425px;
    position: relative;
  }
  .hero-image {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-image h3 {
    font-size: 35px;
    padding-right: 70px;
  }
  .social-nav ul li {
    font-size: 30px;
  }
  .flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* Ipad */
@media (max-width: 768px) {
  .slick-slide {
    height: 400px;
    position: relative;
  }
  .hero-image {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-image h3 {
    font-size: 25px;
    padding-right: 60px;
  }
  .social-nav ul li {
    margin: 0 10px;
  }
}

/* Iphone plus */
@media (max-width: 414px) {
  .hamburger {
    display: block;
    font-size: 2rem;
  }
  .main-nav {
    z-index: 9999;
    background-color: #042d5b;
    position: absolute;
    top: 155px;
    left: -110%;
    width: 100%;
    text-align: center;
    transition: transform 1s;
  }
  .main-nav.open {
    transform: translateX(100%);
  }
  .main-nav ul li {
    display: block;
    font-size: 1.2rem;
    margin: 20px;
  }
  .slick-slide {
    height: 225px;
    position: relative;
  }
  .slick-arrow {
    font-size: 30px;
  }
  .car-section {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .hero-image {
    display: none;
  }
  .feedback-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .feedback-header {
    grid-template-columns: auto;
    text-align: center;
  }
  .feedback {
    display: grid;
    grid-template-columns: auto;
  }
  .footer {
    display: grid;
    grid-template-columns: auto;
  }
  .back-button {
    padding-left: 40px;
  }
}

/* Normal Iphone */
@media (max-width: 375px) {
  .slick-slide {
    height: 200px;
    position: relative;
  }
}
